<div class="container-fluid  about-shyam mt-5">
    <div class="row">
        <h3 class="text-center">About  Nursery</h3>
        <div class="col-lg-12">
          <div class="aboutdetail
          ">

            <h5>Welcome to Nursery</h5>
            <p>
  For over 25 years, Shyam Nursery has been your trusted partner in nurturing nature and creating beautiful gardens.
   Located in Sector-62, we are proud to be one of the most established nurseries in the region, offering a wide range 
   of premium garden products and services.</p>

   <h5>What we offer:</h5>
   <ul>
      <li>Plants:A diverse collection of indoor, outdoor, flowering, and exotic plants.</li>
      <li>Seeds & Fertilizers:High-quality products to help your plants thrive.</li>
      <li>Gardening Tools & Accessories:Everything you need for your gardening journey.</li>
      <li>Landscaping Services:Expert solutions to design and maintain your dream garden.</li>
   </ul>

   <div>
     <h5>what make us special</h5>
    <ul>
        <li>Unparalleled Experience: Our team combines years of hands-on gardening expertise to help you make the best choices.</li>
        <li>Extensive Product Range:From vibrant flowering plants to durable gardening tools, we have it all.</li>
        <li>Customer-Centric Approach:Whether you’re a beginner or an experienced gardener, we’re here to guide you every step of the way.</li>
        <li>Sustainability Focus:Every product and service is designed with eco-consciousness in mind.</li>
    </ul>
   </div>
          </div>
        </div>
    </div>
    </div>
  
  <footer class="container-fluid  footerbottom ">
    <div class=" footer-detail">
        <div class="row  bottomline">

            <div class=" col-lg-3 verticalline col-sm-12">
            
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, esse.</p>
           <img src="../../assets/shyam-01.png" style="width:8rem"/>
           <div>
              <p> DOWNLOAD THIS APP </p>
              <a></a>
           </div>
           <div class="follow-link mt-2">
               <h5 class="mb-0">Follow Us</h5>
              <div class="mt-2">
               <a href="https://jsdl.in/RSL-LGY1735291797" class=""><i class="fa-solid fa-globe"></i></a>
               <a class="mx-2"><i class="fa-brands fa-square-facebook" ></i></a>
               <a class="mx-2"><i class="fa-brands fa-square-instagram" ></i></a>
              </div>
               </div>
                  </div>
                  <div class="col-lg-9 col-sm-12 ">
                           <div class="row bottomline d-none d-sm-flex">
                              <div class="col-lg-4 ">
                                  <h5>Stay Connected</h5>
                                  <p>Sign up for the latest deals now</p>
                              </div>
                                   <div class="col-lg-8">
                                    <div class="d-flex align-items-center subscribe">
                                        <input class="form-control" placeholder="newsletter">
                                        <button class="subscribe-button">Subscribe</button>
                                    </div>
                                  
                          
                                    
                                  </div>
                                  
                              </div>
                    
                           <div class="row my-4 ">
                            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let data of detail">
                  
                              <div *ngIf="data.heading !== 'Contact'" class="verticalline make-center ">
                              <div >
                                      <h5>{{ data.heading }}</h5>
                                      <div *ngIf="data.detailData.length > 0" class="mb-4">
                                        <ul class="mb-4">
                                          <ng-container *ngFor="let service of data.detailData" >
                                              <div class="mb-2">
                                                  <li><a href="">{{ service.name }}</a></li>
                                              </div>
                                            
                                          </ng-container>
                                        </ul>
                                      </div>
                            
                        </div>
                              </div>
                          
         
                              <div *ngIf="data.heading === 'Contact'"  class="make-center ">
                                <div class="">
                                    <h5>{{ data.heading }}</h5>
                                    <div *ngIf="data.detailData.length > 0"  class=" mt-4">
                                        
                                            <ng-container *ngFor="let service of data.detailData" class=" mt-4" >
                                                <div class="mb-4 d-flex align-items-center">
                                                    <div class="footer-icon ">
                                                        <i [class]="service.icon"></i>
                                                      </div>
                                                      <div class="address_pad">
                                                        <p class="mb-0">{{ service.contact }}</p>
                                                      </div>
                                                </div>
                                                
                                              </ng-container>
                                        </div>
                                </div>
                                
                                  
                        
                              </div>
                            </div>
                          </div>
        </div>
        </div>
        <!-- <div class="row my-4">
               <div class="col-lg-12">
                <div >
                    <p class="text-center"> Indoor plants | Seasonal plants | Compost | Pots | bucket | Fruits plants | Outdoor Plants | shadow plants | Flower Plants | Gardern Care | Services  </p>
                </div>
               
               </div>
        </div> -->
        </div>
    
        </footer>


