<div class="container-fluid form-container">
    <div class="formrow">
        <!-- <div class="col-lg-12"> -->
            <form #userName="ngForm" [formGroup]="serviceform" class="p-4 form-box"> 
                <ng-container *ngFor="let servicedata of formData">
                    <div>
                        <div *ngIf="servicedata.type !== 'select'">
                            <label class="form-label">{{servicedata.name}}</label>
                            <input [type]="servicedata.type" placeholder="{{servicedata.placeholder}}" 
                                   [formControlName]="servicedata.name" class="form-control"/>
                        </div>
                        <div *ngIf="servicedata.type == 'select'">
                            <label class="form-label">{{servicedata.name}}</label>
                            <select [formControlName]="servicedata.name" class="form-select">
                                <option disabled value="">{{servicedata.placeholder}}</option>
                                <option *ngFor="let option of servicedata.options" [value]="option.name">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                </ng-container>
                <button [disabled]="!serviceform.valid" class="btn btn-success mt-4 w-100" (click)="submit()"> Submit</button>
            </form>
        </div>
    </div>
<!-- </div> -->

<!-- 
FormControl: Define basic functionality of individual form control

FormGroup: Used to aggregate the values of collection form control

FormArray: Used to aggregate the values of form control into an array

ControlValueAccessor: Acts as an interface between Forms API to HTML DOM elements.
 -->