.form-container {
    height: 80vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden; 
    margin: 0;
    padding: 0;
}

.formrow {
    width: 30%;
    z-index: 2; 
}

.form-box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    position: relative;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img img {
    width: 5rem;
}

/* Girl & Boy Image Styling */
.girlimage, .boyimage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    z-index: 1;
}

.girlimage {
    left: calc(35% - 20rem); 
}

.boyimage {
    right: calc(37% - 21rem);
}

.girlimage img, .boyimage img {
    height: 30rem;
    width: auto;
    max-width: 100%;
}

.button{
    width: 100%;
    background-color: green;
    border: none;
}


@media (max-width:1310px){
    .formrow {
    width: 36%;
    z-index: 2; 
}

.girlimage {
    left: calc(30% - 20rem); 
}

.boyimage {
    right: calc(34% - 21rem);
}
}

@media (max-width:1050px){
    .formrow {
    width: 40%;
    z-index: 2; 
}

.girlimage {
    left: calc(28% - 20rem); 
}

.boyimage {
    right: calc(32% - 21rem);
}
}


@media (max-width:768px){
    .formrow {
    width: 52%;
    z-index: 2; 
}

.girlimage {
    left: calc(28% - 20rem); 
}

.boyimage {
    right: calc(32% - 21rem);
}

.girlimage img, .boyimage img {
    height: 25rem;
    width: auto;
    max-width: 100%;
}
}


@media (max-width:540px){
    .formrow {
    width: 80%;
    z-index: 2; 
}

.girlimage {
    left: calc(28% - 20rem); 
}

.boyimage {
    right: calc(32% - 21rem);
}

.girlimage img, .boyimage img {
display: none;
}
}