<div mat-dialog-container>
    <!-- <h3 mat-card-title class="text-center mt-3">Delete</h3> -->
    <p mat-dialog-content> 
        <video autoplay loop width="800" height="400" controls>
            <source  src="../../assets/video.mp4"/>
        </video>
    </p>
    <div mat-dialog-actions class="d-flex gap-3 align-items-end justify-content-end pb-3">
        <button mat-button  [mat-dialog-close]="true">Ok</button>
        <button mat-button  mat-dialog-close>Cancel</button>
    </div>
</div>
