*
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Layout */
html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
}