

/* service-list*/
.service-container {
    padding: 2rem 0;
    max-width:100rem;
  }
  
  .section-title {
    margin-bottom: 0.5rem;
    position: relative;
    font-weight: 600;
    color: #2d3748;
  }
  
  .section-description {
    color: #718096;
    margin-bottom: 1.5rem;
  }
  
  .service-card {
    background: #fff;
    border-radius: 10px;
    padding: 1.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    margin-bottom: 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.1s ease ;
  }
  
  .service-card:hover {
       border-bottom: 4px solid #0ca11d;
  }
  
  .service-info {
    display: flex;
    align-items: center;
  }
  
  .service-number {
    color: #0c881f;
    font-size: 2rem;
    margin-right: 15px;
  }
  
  .service-details {
    display: flex;
    flex-direction: column;
  }
  
  .service-title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: #2d3748;
    text-align: center;
  }
  
  .service-head{
    display: flex;
    justify-content:end;
       
    
  }
  .service-description {
    margin: 5px 0 0;
    color: #718096;
    font-size: 14px;
  }
  
  .service-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .price-tag {
    // font-weight: 700;
    font-size: 16x;
    color: #2d3748;
    margin-bottom: 8px;
  }
  
  .btn-select {
    background-color: #0b8419;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.2s;
  }
  
  .btn-select:hover {
    background-color: #0f8b11;
    transform: scale(1.05);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .service-card {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .service-price {
      margin-top: 15px;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
    
    .price-tag {
      margin-bottom: 0;
    }
  }